#test{
    background-color: rgb(28, 79, 190);
    height: 100px;
}

.steckbriefProperty{
    list-style-type: none;
}

.navi{
    font-size: 30px;
}

.fitnessVideo{
    width: 520px; 
    height: 540px; 
}

.navicontent{
    padding-left: 20px;
}

.fitnessBoxTitle{
    text-align: center;
}

.fitnessBox{
    display: inline-block;
    margin: 100px;
    border: 1px solid black;
    margin-left: 150px;
}

#PageContent{
    border: 1px solid black;
    margin: 40px;
    height: auto;
    padding-left: 30px;
}

.steckbriefFoto{
    display: inline-block;
    height: 300px;
    width: 300px;
    margin-right: 40px;
    margin-top: 40px;
}

.steckbriefText{
    display: inline-block;
    margin-right: 50px;
    margin-top: 50px;
    font-size: 30px;
}

.subtitle{
    margin: 40px;
}

.parallax {
    

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#first {
	/* The image used */
    background-image: url("Kind1.jpg");
    height: 2300px;
}

#second {
	/* The image used */
    background-image: url("Kind2.jpg");
    height: 1300px;
}

.parallaxTitle{
    text-align: center;
}

.parallaxBox{
    background-color: red;
    margin-bottom: -8px;
}


